.top {
    background-color:rgb(3, 63, 3)
}

.jumbotron{
    background: url("images/TES05840.jpeg") no-repeat center center; 
  background-size: cover;
  height: 400px;
}
p{
    font-size: 48px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
   
}
h1{
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
}